@charset "UTF-8";
/* _variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* _medias Q */ /* _mixin */
@media (min-width: 768px) {
  .imagenDestacada-index {
    height: 500px;
  }
  .imagenDestacada-productos {
    height: 500px;
  }
  .imagenDestacada-nosotros {
    height: 500px;
  }
  .imagenDestacada-blog {
    height: 500px;
  }
  .contacto {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .contacto .formContacto {
    width: 400px;
    padding: 15px;
    margin: 5px;
  }
}
@media (min-width: 1024px) {
  .tarjeta h2 {
    font-size: 25px;
    padding-top: 20px;
  }
  .tarjeta h3 {
    font-size: 20px;
    padding-top: 10px;
  }
  iframe {
    width: 500px !important;
    padding: 10px !important;
  }
  .contacto {
    flex-direction: row !important;
  }
  .contacto .formContacto {
    width: 400px;
    padding: 15px;
    margin: 5px;
  }
  .contacto .formContacto input {
    padding: 8px;
    margin: 15px 15px 0px 10px;
    border-radius: 5px;
  }
  .contacto .formContacto textarea {
    padding: 8px;
    margin: 15px 15px 0px 10px;
    border-radius: 5px;
  }
  section {
    margin: 5px 20px 20px 15px !important;
    padding: 20px !important;
  }
  section h1 {
    font-size: 28px !important;
  }
  section h2 {
    margin-top: 5px !important;
    font-size: 30px !important;
    padding-top: 10px !important;
  }
  section p {
    font-size: 18px !important;
  }
}
/* _targetas: Tarjetas en productos.html y Mapa ubicación y Form contacto en nosotros.html*/
.seccionTarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../img/baner-burbuja.jpg);
  padding-bottom: 100px;
  padding-top: 50px;
}

.tarjeta {
  width: 450px;
  margin: 20px;
  padding: 5px 15px 15px;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.4);
  box-shadow: 5px 10px 10px;
  border-radius: 5px;
  border-left: rgba(108, 151, 94, 0.3490196078) solid 3px;
  border-top: rgba(108, 151, 94, 0.2196078431) solid 5px;
  backdrop-filter: blur(5px);
  color: rgb(14, 51, 9);
}
.tarjeta a {
  text-decoration-line: none;
}
.tarjeta a:hover img {
  box-shadow: none;
  transform: scale(0.98);
}
.tarjeta img {
  max-width: 300px;
  height: auto;
  color: rgb(14, 51, 9);
  border-radius: 10px;
  box-shadow: 5px 5px 30px;
}
.tarjeta .iconWp {
  width: 50px;
  transform: none;
  box-shadow: none;
}
.tarjeta:hover {
  transform: translateY(-8px);
  box-shadow: 1px 1px 30px;
}
.tarjeta h2 {
  font-size: 20px;
  color: rgb(68, 68, 13);
  padding-top: 10px;
}
.tarjeta h3 {
  font-size: 20px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

iframe {
  width: 500px;
  height: 450px;
  padding: 5px;
  margin: auto;
}

.contacto {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.contacto iframe {
  width: 100%;
}

.formContacto {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  margin: 3px;
  background-image: url(../img/baner-burbuja.jpg);
  box-shadow: 7px 7px 30px #000;
}
.formContacto input {
  padding: 8px;
  color: rgb(68, 68, 13);
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(189, 201, 29, 0.631372549);
}
.formContacto textarea {
  padding: 5px;
  font-family: "roboto" sans-serif;
  color: rgb(68, 68, 13);
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(189, 201, 29, 0.631372549);
}
.formContacto label {
  color: black;
  text-shadow: white -1px 5px 10px;
}
.formContacto a {
  text-transform: uppercase;
  color: black;
}
.formContacto h5 {
  color: black;
  text-shadow: white -1px 5px 10px;
}
.formContacto p {
  color: black;
  text-shadow: white -1px 5px 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.formContacto .boton {
  width: 70%;
  padding: 8px;
  margin: auto;
  background-color: #555a11;
  color: white;
  border: none;
  font-size: 16px;
  box-shadow: 7px 7px 30px #000;
}
.formContacto .boton:hover {
  box-shadow: none;
}

/* _footer */
.fas.fa-whatsapp {
  font-size: 5rem;
}

/*_carrusel 3D*/
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.content-all {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

.content-carrousel {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-right: 20px;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.content-carrousel figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 20px 0px rgb(31, 8, 83);
  transition: all 300ms;
}
.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px black;
  transition: all 300ms;
}
.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}
.content-carrousel img {
  width: 100%;
  transition: all 300ms;
}
.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

main {
  background: black url(../img/banner.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 150px;
  position: relative;
  display: grid;
  grid-template: "carrusel carrusel carrusel" 200px "leyenda . ." auto;
  background-position: center;
}
main .content-all {
  grid-area: carrusel;
}
main .leyenda {
  grid-area: leyenda;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
  color: yellow !important;
  height: 350px;
  font-size: xx-large;
}
main .my-carousel .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 5px;
  margin: 0;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}

.imagenDestacada-productos {
  background-image: url(../img/sabores-originales.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

.imagenDestacada-nosotros {
  background-image: url(../img/visita-fabrica.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}

.imagenDestacada-blog {
  background-image: url(../img/cerveza-vikinga.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* Estilo entradas del blog: general, títulos, parrafo, imágenes, indice*/
body {
  overflow-x: hidden;
}
body .index {
  height: 100vh;
  margin: 0;
}
body section {
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 7px 7px 30px #000;
  text-align: center;
}
body section h1 {
  color: rgb(68, 68, 13);
  font-variant: small-caps;
  text-align: center;
  font-size: 28px;
}
body section h2 {
  color: maroon;
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
body section p {
  font-size: 16px;
  line-height: 1.5;
  margin: 30px;
  margin-bottom: 20px;
  text-align: justify;
}
body section img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}
body span p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
