.imagenDestacada-productos {
    background: url("../img/sabores-originales.jpg") no-repeat fixed center 70px;
    background-size: contain;
    height: 300px;
}

.imagenDestacada-nosotros {
    background: url("../img/bg-visita-fabrica.jpg") no-repeat fixed center 70px;
    background-size: contain;
    height: 300px;
}

.imagenDestacada-blog {
    background: url("../img/bg-cerveza-vikinga.jpg") no-repeat fixed center 70px;
    background-size: contain;
    height: 300px;
}


/* Estilo entradas del blog: general, títulos, parrafo, imágenes, indice*/
body {
    overflow-x: hidden;

    .index {
        height: 100vh;
        margin: 0;
    }

    section {
        margin: 5px 5px 8px 5px;
        padding: 10px;
        background-color: $color_4;
        border-radius: 5px;
        box-shadow: 7px 7px 30px #000;
        text-align: center;
        h1 {
            color: $color_2;
            font-variant: small-caps;
            text-align: center;
            font-size: 28px;
            font-weight: bolder;
        }

        h2 {
            color: $color_h2_gral;
            margin-top: 10px;
            font-size: 24px;
            font-weight: bolder;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            margin: 30px;
            margin-bottom: 20px;
            text-align: $alinea-textoplano;
            font-weight: $tipo-textoplano;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 20px auto;
        }
    }
    aside{
        text-align: center;}
    span {
        p {
            margin: 0;
        }
    }
}
nav{
    div{
        a{
    img{
        width: 45px;
    }
}
}
}