/* _medias Q */
@import "mixin";

@media (min-width: 768px) {

    div.imagenDestacada-productos {
        height: 400px;
    }

    div.imagenDestacada-nosotros {
        height: 400px ;
    }
    
    div.imagenDestacada-blog {
        height: 400px;
    }

    .contacto {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        .formContacto {
            width: 400px;
            padding: 15px;
            margin: 5px;
        }
    }
}

@media (min-width: 1024px) {

    .tarjeta h2 {
        font-size: 25px;
        padding-top: 20px;
    }

    .tarjeta h3 {
        font-size: 20px;
        padding-top: 10px;
    }

    iframe {
        width: 500px !important;
        padding: 10px !important;
    }

    .contacto {
        flex-direction: row !important;

        .formContacto {
            width: 400px;
            padding: 15px;
            margin: 5px;

            input {
                @include contactoMixin(8px, 15px 15px 0px 10px, 5px)
            }

            textarea {
                @include contactoMixin(8px, 15px 15px 0px 10px, 5px)
            }

        }
    }

    section {
        h1 {
            font-size: 28px !important;
        }

        h2 {
            margin-top: 5px !important;
            font-size: 30px !important;
            padding-top: 10px !important;
        }

        p {
            font-size: 18px !important;
        }
    }
}