/* _targetas: Tarjetas en productos.html y Mapa ubicación y Form contacto en nosotros.html*/

.seccionTarjetas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: white url(../img/baner-burbuja.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 100px;
	padding-top: 50px;
}
.seccionTarjetasI {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: white url(../img/banner-burbuja-oscura.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	padding-bottom: 100px;
	padding-top: 50px;
}

.tarjeta {
	width: 450px;
	margin: 20px;
	padding: 20px 15px 15px;
	text-align: center;
	background-color: $background-color_1;
	box-shadow: 5px 10px 10px;
	border-radius: 5px;
	border-left: #6c975e59 solid 3px;
	border-top: #6c975e38 solid 5px;
	backdrop-filter: blur(5px);
	color: $color_1;

	a {
		text-decoration-line: none;

		&:hover {
			img {
				box-shadow: none;
				transform: scale(.98);
			}
		}
	}

	img {
		max-width: 300px;
		height: auto;
		color: $color_1;
		border-radius: 10px;
		box-shadow: 5px 5px 30px;
	}

	.iconWp {
		width: 50px;
		transform: none;
		box-shadow: none;
	}

	&:hover {
		transform: translateY(-8px);
		box-shadow: 1px 1px 30px;
	}

	h2 {
		font-size: 20px;
		color: $color_2;
		padding-top: 10px;
		font-weight: bolder;
	}

	h3 {
		font-size: 20px;
		color: $color_3;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

iframe {
	width: 500px;
	height: 450px;
	padding: 5px;
	margin: auto;
}

.contacto {
	margin-top: 10px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

	iframe {
		width: 100%;
	}
}

.formContacto {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 8px;
	margin: 3px;
	background-image: url(../img/baner-burbuja.jpg);
	box-shadow: 7px 7px 30px #000;

	input {
		padding: 8px;
		color: $color_2;
		margin-top: 10px;
		margin-left: 8px;
		margin-right: 10px;
		border-radius: 4px;
		background-color: $background-color_2;
	}

	textarea {
		padding: 5px;
		font-family: $font-family_1;
		color: $color_2;
		margin-top: 10px;
		margin-left: 8px;
		margin-right: 10px;
		border-radius: 4px;
		background-color: $background-color_2;
	}

	label {
		color: $color_3;
		text-shadow: white -1px 5px 10px;
	}

	a {
		text-transform: uppercase;
		color: $color_3;
	}

	h5 {
		color: $color_3;
		text-shadow: white -1px 5px 10px;
	}

	p {
		color: $color_3;
		text-shadow: white -1px 5px 10px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.boton {
		width: 70%;
		padding: 8px;
		margin: auto;
		background-color: $background-color_3;
		color: $color_4;
		border: none;
		font-size: 16px;
		box-shadow: 7px 7px 30px #000;

		&:hover {
			box-shadow: none;
		}
	}
}