/* _variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    }

$color_1: rgb(14, 51, 9);
$color_2: rgb(68, 68, 13);
$color_3: black;
$color_4: white;
$color_h2_gral: maroon; 
$font-family_1: 'roboto'sans-serif;
$background-color_1: rgba(240, 248, 255, 0.4);
$background-color_2: #bdc91da1;
$background-color_3: #555a11;

// // variable para la imagen de día
// $bg-day: url('../img/banner.jpg');

// // variable para la imagen de noche
// $bg-night: url('../img/fondo-shopp.jpg');

// // Utilizar la función if para seleccionar la imagen correcta según la hora del día

// $now: date();
// $body-bg: if(hour($now) > 6 and hour($now) < 18, $bg-day, $bg-night);
