* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color_1: rgb(14, 51, 9);
$color_2: rgb(68, 68, 13);
$color_3: black;
$color_4: rgb(68, 68, 13);
$color_5: #000;
$color_6: white;
$font-family_1: 'roboto'sans-serif;
$background-color_1: rgba(240, 248, 255, 0.4);
$background-color_2: #bdc91da1;
$background-color_3: #555a11;